<h1>Add company</h1>

<form method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="Company.Name"/></td>
        </tr>
    </table>
    <input type="submit" value="Create"/>
</form>